#blue {
  color: cyan;
}

.green {
  color: green;
}

#red {
  color: #ff6a6a;
}

span {
  color: pink;
}

p {
  font-family: Verdana;
  font-size: 20px;
}

h1 {
  color: orange;
  text-decoration: underline;
}
