@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

.rainbow-text {
  font-family:"Comic Sans MS";
  text-align: center;
  background-image:
    linear-gradient(to right, red,orange,yellow,green,blue,indigo,violet);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: move 40s linear infinite;
}

@keyframes move {
  to {
    background-position: 2500vh;
  }
}

.text {
  font-family:"Comic Sans MS";
  text-align:center;
  font-size: 18px;
  margin: 20px;
}

.Untertitel {
  font-family:"Comic Sans MS";
  text-align: center;
  font-size: 22px;
  color: grey;
}

#sprung {
  font-family:"Comic Sans MS";
  text-align:center;
  font-size:14px;
}

#definition{
  font-family:"Comic Sans MS";
  text-align:center;
  font-size: 17px;
  font-style: italic;
  font-weight: bold;
}

#hallo {
  text-align: center;
}

#audio {
  font-family:"Comic Sans MS";
  font-size: 14px;
}

#harold{
  width: 500px;
  margin: 5px;
  padding: 10px;
  border: 2px;
  float: none;
}

#coder {
  width: 400px;
  margin: 5px;
  padding: 10px;
  border: 2px;
  float: none;
}

#teabag{
  width: 700px;
  margin: 5px;
  padding: 10px;
  border: 2px;
  float: none;
}
