@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

.rainbow-text {
  font-family:"Comic Sans MS";
  text-align: center;
  background-image:
    linear-gradient(to right,#f00, #ff2b00, #f50, #ff8000, #fa0, #ffd500, #ff0, #d4ff00, #af0, #80ff00, #5f0, #2bff00, #0f0, #00ff2a, #0f5, #00ff80, #0fa, #00ffd5, #0ff, #00d5ff, #0af, #0080ff, #05f, #002aff, #00f, #2b00ff, #50f, #8000ff, #a0f, #d400ff, #f0f, #ff00d4, #f0a, #ff0080, #f05, #ff002b, #f00);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: move 40s linear infinite;
}

@keyframes move {
  to {
    background-position: 1500vh;
  }
}

.text {
  font-family:"Comic Sans MS";
  text-align:center;
  font-size: 18px;
  margin: 20px;
}

.Untertitel {
  font-family:"Comic Sans MS";
  text-align: center;
  font-size: 22px;
  color: grey;
}

#sprung {
  font-family:"Comic Sans MS";
  text-align:center;
  font-size:14px;
}

#definition{
  font-family:"Comic Sans MS";
  text-align:center;
  font-size: 17px;
  font-style: italic;
  font-weight: bold;
}

#hallo {
  text-align: center;
}

#audio {
  font-family:"Comic Sans MS";
  font-size: 14px;
}

#harold{
  width: 500px;
  margin: 5px;
  padding: 10px;
  border: 2px;
  float: none;
}

#coder {
  width: 400px;
  margin: 5px;
  padding: 10px;
  border: 2px;
  float: none;
}

#teabag{
  width: 700px;
  margin: 5px;
  padding: 10px;
  border: 2px;
  float: none;
}
